.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
mlruns/
frontend/
notebooks/
data/raw/train.csv
data/processed/*.csv
data/processed/engineered_data.parquet
data/processed/merged_data.parquet