pandas
numpy
matplotlib
seaborn
plotly

scikit-learn
xgboost
lightgbm

jupyter
notebook
ipykernel

mlflow

tensorflow
keras

shap

openai

python-dotenv

fastapi[standard]
uvicorn

fastapi[all]

python-multipart
pydantic

openpyxl